.content-login {
    width: 100%;
    max-width: 400px;
    border-radius: 25px;
    box-shadow: 1px 9px 40px -7px #00000033;
    padding: 20px;
    margin: 80px 0;
}

.form-grup label {
    display: block;
    font-family: 'BYekan';

}

.forget_password a {
    color: blue;
    text-decoration: underline;
}

.form-grup input {
    font-family: 'BYekan';
    width: 100%;
    border: none;
    border-radius: 12px;
    margin: 10px 0;
    padding: 13px;
    box-shadow: 1px 9px 40px -7px #00000033;
    box-sizing: border-box;
}
